@import url("navcss.css");
@import url("fonts.css");
@import url("animation.css");
/*
  Import any other elements up top

*/

*, ::before, ::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  -webkit-text-size-adjust: none;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #313131;
}

main {
  width: 80%;
  margin: 0 auto 10rem;
  overflow: hidden;
  margin-top: 12%;
}

#menu {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

h1 {
  font-size: 5rem;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  padding-top: 14px;
  font-size: 1.75rem;
  font-weight: bolder;
}

h3 {
  font-size: 2rem;
}

.abt_title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3.1rem;
  font-weight: 300;
}

p {
  font-size: 1.3em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  padding-top: 14px;
  color: #8B8B8B;
  /* text-transform: uppercase; */
}

.small_caps_header {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 0.2rem;
}

/* -------------------------------
HOME CSS ONLY
------------------------------- */

.banner_intro {
  display: flex;
  width: 100%;
  position: relative;
  border-bottom: dashed;
  border-width: thin;
  margin-bottom: 10%;
}

.marginb-20rem {
  padding-bottom: 5rem;
}

.marginc-5rem {
  padding-bottom: 5rem;
}

.banner_title {
  font-size: 2.4rem;
  color: #313131;
  z-index: 1
}

.banimg {
  width: 30%;
  display: block;
  margin-top: 1rem;
}

.mouse {
  width: 100%;
  padding-top: 20px;
  margin: 0 auto 5rem;
}

#intro {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.unsplash {
  position: relative;
  text-align: center;
  color: white;
}

.unsplash_image {
  width: 100%;
}

.unsplash_title {
  color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.unsplash_h1 {
  font-size: 3rem;
}

.unsplash_p {
  font-size: 2rem;
  color: #FF2D5E;
}

.info_main {
  margin-bottom: 10rem;
  border-bottom: dashed;
  border-width: thin;
}

.first, .middle, .last {
  font-family: 'Roboto Condensed', sans-serif;
  width: 20%;
  padding-right: 50px;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 3;
  color: #313131;
}

/*
.first {
  color: #39DBFA;
}

.middle {
  color: #FF2D5E;
}

.last {
  color: #82F927;
} */

.intro_contact {
  display: flex;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------------
SERVICES CSS ONLY
------------------------------- */

.service_para {
  width: 50%;
  float: left;
  font-size: 1.2rem;
  margin-right: 50%;
}

.servicesbanner {
  display: flex;
  width: 100%;
  position: relative;
  border-bottom: dashed;
  border-width: thin;
  margin-bottom: 10%;
}

.skills_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto 5rem;
  border-bottom: dashed;
  border-width: thin;
}

.service_flex_row {
  width: 100%;
}

.skills {
  margin-left: 20px;
  padding: 20px;
  width: 33%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  color: #8B8B8B;
  list-style-type: circle;
  line-height: 1.5;
}

.hero2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 3.25em;
  color: #313131;
  margin-top: 40vh;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 0;
}

.link_ct {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
}

.link_ct:hover {
  color: #FF2D5E;
}

/* -------------------------------
ABOUT CSS ONLY
------------------------------- */

.about_main {
  border-bottom: dashed;
  border-width: thin;
}

.about_para {
  width: 50%;
  float: left;
  font-size: 1.2rem;
  margin-right: 50%;
}

.about_ct {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cut_ct {
  display: flex;
  width: 100%;
  /* margin: 0 auto 2rem; */
}

.mid_ct {
  display: flex;
  width: 100%;
  /* margin: 0 auto 2rem; */
}

.abt_content {
  margin: 0 8em;
  margin-top: 2em;
}

#photo {
  padding: 20px;
  outline: 4px #FF2D5E;
}

.team_ct {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
}

.abt_title {
  margin-bottom: 1rem;
}

.about_text {
  font-size: 1em;
  margin-top: 2em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
}

.photo:hover .overlay {
  opacity: 1;
}

/* -------------------------------
CONTACT CSS ONLY
------------------------------- */

.email {
  border-bottom: dashed;
  border-width: thin;
}

/* -------------------------------
FOOTER CSS ONLY
------------------------------- */

.footer_main {
  color: #313131;
  background-color: #F8F8F8;
}

.foot_ct {
  display: flex;
  width: 80%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.footer_1, .footer_2 {
  font-family: 'Roboto Condensed', sans-serif;
  width: 50%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 0;
  color: #313131;
}

.hire, .hire2 {
  text-align: left;
}

.hire {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

.hire2 {
  font-size: 1.15em;
  font-weight: normal;
  font-family: 'Roboto Condensed', sans-serif;
}

.hire2:hover {
  text-decoration: underline;
  text-decoration-color: #313131;
}

.hire_line {
  padding-bottom: 20px;
}

.adr_lc {
  font-family: 'Roboto Condensed', sans-serif;
}

.end {
  margin-top: 20px;
  font-size: 0.5em;
  font-weight: normal;
}

.directions {
  position: relative; //display:block;
  height: 30px;
  width: 150px;
  padding: 5px 5px;
  margin-top: 14px;
  font-weight: normal;
  font-size: 0.7em;
  letter-spacing: 1px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 0;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  /* font-style: 'Josefin Sans', sans-serif;
  font-weight: normal; */
}

.directions:hover {
  color: whitesmoke;
  background-color: #fff;
}

.directions:before {
  content: "";
  position: absolute;
  background: #313131;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.directions:hover:before {
  top: 0;
}

.locale {
  font-size: 2em;
  margin-bottom: 30px;
  font-weight: bold;
}

.lcx_locale {
  font-size: 1.5em;
  margin-bottom: 5px;
  font-weight: bold;
}

.social_icons {
  flex-direction: row;
  margin-top: 20px;
}

.fa-behance, .fa-facebook, .fa-linkedin {
  padding-right: 12px;
}

.fa-behance:hover, .fa-facebook:hover, .fa-linkedin:hover {
  color: #FF2D5E;
}

/* -------------------------------
SHAPES AND OTHER ELEMENTS
--------------------------------- */

.circle, .circle2 {
  height: 50px;
  width: 50px;
  background-color: #39DBFA;
  border-radius: 50%;
  margin-bottom: 10px;
}

.circle2 {
  background-color: #82F927;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #FF2D5E;
  margin-bottom: 10px;
  border-radius: 15%;
}

.shape {
  height: 250px;
  width: 250px;
  background: #39DBFA;
  border-radius: 5%;
}

.shape2 {
  height: 280px;
  width: 280px;
  background-color: #67E7FF;
  border-radius: 5%;
}

.shape3 {
  height: 250px;
  width: 250px;
  background-color: #FF2D5E;
  border-radius: 5%;
}

.shape4 {
  height: 280px;
  width: 280px;
  background-color: #FF537B;
  border-radius: 5%;
}

.shape5 {
  height: 250px;
  width: 250px;
  background-color: #82F927;
  border-radius: 5%;
}

.shape6 {
  height: 280px;
  width: 280px;
  background-color: #A2FF5C;
  border-radius: 5%;
}

.shape7 {
  height: 250px;
  width: 250px;
  background-color: #FDC501;
  border-radius: 5%;
}

.shape8 {
  height: 280px;
  width: 280px;
  background-color: #FFD74C;
  border-radius: 5%;
}

/* Scroll mouse animation CSS */

.scroll-downs {
  margin: auto;
  width: 34px;
  height: 55px;
}

.mousey {
  width: 1px;
  padding: 7px 14px;
  height: 30px;
  border: 1.5px solid #000;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 2px;
  height: 10px;
  border-radius: 25%;
  background-color: #000;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/*
-----------------------------------
<!--RESPONSIVE BIT BY OGIRDOR
-----------------------------------
*/

@media (max-width: 1040px) {
  #intro {
    flex-direction: column;
  }
  .sxcontent {
    flex-direction: column;
    max-width: 100%;
  }
  .first, .middle, .last {
    margin-top: 20px;
    width: 60%;
  }
}

@media (max-width: 720px) {
  .hero, .hero2 {
    font-size: 2em;
    max-width: 720px;
    padding-left: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 25vh;
  }
  .shape, .shape2 {
    display: none;
  }
  .banimg {
    width: 180px;
  }
  .scroll-downs {
    display: none;
  }
  .first, .middle, .last {
    margin-top: 20px;
    width: 60%;
  }
  .info_ctn {
    font-size: 1rem;
  }
  .foot_ct {
    flex-direction: column-reverse;
    width: 100%;
  }
  .link_ct {
    font-size: 1.9rem;
  }
  .unsplash_h1 {
    font-size: 2rem;
  }
  .unsplash_p {
    font-size: 1.5rem;
  }
  .service_para, .about_para {
    font-size: 0.5em;
    width: 100%;
  }
  .skills_container {
    flex-direction: column;
  }
  .skills {
    width: 100%;
  }
  .about_ct, .cut_ct {
    flex-direction: column;
  }
  .abt_content {
    width: 100%;
    margin: auto;
  }
  .mid_ct {
    flex-direction: column-reverse;
  }
  .footer_1, .footer_2 {
    width: 60%;
  }
}

@media (max-width: 830px) {
  .mouse {
    display: none;
  }
}

@media (max-width: 960px) {
  .first, .middle, .last {
    margin-top: 20px;
  }
}

@media (max-width: 640px) {
  .hire, .hire2 {
    text-align: left;
  }
  .intro_contact {
    font-size: 1.5rem;
  }
  main {
    margin-top: 20%;
  }
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.8rem;
  }
  .hire {
    font-size: 2rem;
  }
}